.forms {
  max-width: 396px;
  width: 100%;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.forms__logo {
  margin: 70px 0 36px 0;
}

.forms__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 41px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.form__button {
  background: #cc8400;
  border-radius: 3px;
  border: none;
  width: 100%;
  padding: 14px 0 14px 0;
  margin: 33px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.form__button:hover {
  transform: scale(1.1);
}

.form__button-disable {
  background: #c5c4c4;
  cursor: default;
}

.form__button-disable:hover {
  transform: none;
}

.forms__sign {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  margin: 16px 0 0 0;
}

.forms__link-enter {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ff6838;
  margin: 0 0 0 6px;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.forms__link-enter:hover {
  transform: scale(1.1);
}

.form__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 207px;
}

.form__error-message {
  text-align: center;
  margin: 95px 0 0 0;
  padding: 0;
  color: #ff6838;
  font-size: 11px;
  min-height: 12px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
  }

  .forms__logo {
    margin: 56px 0 50px 0;
  }

  .forms__title {
    margin-bottom: 80px;
  }

  .form__button {
    margin-top: calc(216px - (216 - 128) * ((100vw - 320px) / (768 - 320)));
    font-size: 12px;
  }

  .forms__sign {
    font-size: 12px;
    margin-top: 13px;
  }

  .forms__link-enter {
    font-size: 12px;
    margin-left: 8px;
  }
}
