.dev {
  max-width: 1280px;
  width: calc(100% - 2 * 70px);
  margin: 50px auto 70px;
}

.dev__title {
  font-size: var(--font-size-h2);
  text-align: center;
  margin: 100px 0 10px;
}

.dev__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dev__subtitle {
  font-size: var(--font-size-p);
  text-align: center;
}

.dev__options {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dev__option {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 10px 15px;
}

@media screen and (max-width: 768px) {
  .dev {
    width: calc(100% - 2 * 40px);
  }

  .dev__title {
    font-size: var(--fz-h2-768);
  }

  .dev__subtitle {
    font-size: var(--fz-p-768);
  }

  .dev__option {
    font-size: var(--fz-p-480);
  }
}

@media screen and (max-width: 480px) {
  .dev {
    width: calc(100% - 2 * 20px);
    margin: 50px auto;
  }

  .dev__title {
    font-size: var(--fz-h2-480);
    margin-bottom: 15px;
  }

  .dev__subtitle {
    font-size: var(--fz-p-768);
  }

  .dev__option {
    font-size: var(--fz-p-480);
  }
}
