.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  position: relative;
  height: 400px; /* Установите желаемую высоту */
}

img {
  border-radius: 8px;
}

.info {
  padding: 16px;
}

.title {
  font-size: 1.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  gap: 30px;
  /*margin-bottom: 1rem;*/
}

.description {
  font-size: 1rem;
  color: #000000; /* Цвет описания */
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
