.slider__restaurant {
  background-color: #1b0c42;
  margin-bottom: -10px;
  overflow: hidden;
}

.slider__restaurant-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  .slider__restaurant-img {
    height: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .slider__restaurant-img {
    height: 30vh;
  }
}
