.burger__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #1b0c42;
  padding: 48px 40px 38px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.burger__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  /*overflow-x: auto;*/
}

.burger__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: var(--blue-color);
}

.burger__close-btn:hover {
  cursor: pointer;
}

.burger__logo {
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 25px;
}

/*.burger__nav {*/
/*  margin-bottom: 120%;*/
/*}*/

.burger__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger__item {
  color: white;
  font-size: 24px;
  text-align: end;
  text-decoration: none;
}

.active {
  color: var(--orange-color-active);
}

.burger__nav {
  width: 100%;
  text-align: right;
}

.burger__item:focus {
  color: var(--orange-color);
}

.burger__number {
  color: white;
}

.burger__link {
  color: white;
  text-decoration: none;
}

.burger__description {
  margin-bottom: 25px;
}
