/* styles.css */
.terrace-block {
  min-height: 550px;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/terrace.png") no-repeat center bottom;
  background-size: cover;
  color: #fff; /* Белый цвет текста */
  text-align: center;
  padding: 50px; /* Подстраивайте отступы по вашему дизайну */
  display: flex;
  justify-content: center;
}

.terrace-container {
  max-width: 60%;
}

.terrace-title {
  font-size: var(--font-size-h2); /* Размер шрифта для заголовка */
  margin-bottom: 70px; /* Отступ под заголовком */
}

.terrace-description {
  font-size: var(--font-size-p); /* Размер шрифта для описания */
  margin-bottom: 200px; /* Отступ под описанием */
}

.book-button {
  background-color: var(--orange-color); /* Оранжевый цвет фона кнопки */
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px; /* Скругление углов кнопки */
}

.book-button:hover {
  background-color: var(
    --orange-color-hover
  ); /* Темный оттенок оранжевого для эффекта при наведении */
}

@media screen and (max-width: 768px) {
  .terrace-title {
    font-size: var(--fz-h2-768);
  }

  .terrace-description {
    font-size: var(--fz-p-768);

    .terrace-container {
      max-width: 90%;
    }

    .terrace-title {
      font-size: 28px;
    }
  }

  @media screen and (max-width: 480px) {
    .terrace-title {
      font-size: var(--fz-h2-480);
    }

    .terrace-description {
      font-size: var(--fz-p-480);
    }
  }
  .terrace-container {
    max-width: 100%;
  }

  .terrace-block {
    padding: 25px;
  }
}
