.text-block {
  max-width: 1200px;
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 40px; /* Добавляем больше отступа */
  background: #efeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px; /* Делаем углы более скругленными */
  text-align: left; /* Выравниваем текст по левому краю */
}

.text-block h1 {
  font-size: 1.5em; /* Адаптируем размер заголовка */
  margin-bottom: 0.5em;
  color: #000000;
}

.text-block p {
  font-size: 1em;
  line-height: 1.4; /* Увеличиваем межстрочный интервал */
  margin-bottom: 1em; /* Увеличиваем отступ между параграфами */
}

@media screen and (max-width: 768px) {
  .text-block {
    width: calc(100% - 2 * 40px);
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .text-block {
    width: calc(100% - 2 * 20px);
    padding: 10px;
  }



}
