.villas-spa__section {
  padding: 80px 0 100px 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.slider-spa {
  background-color: #1b0c42;
  margin-bottom: -10px;
  overflow: hidden;
}

.slider-spa__img {
  margin: 0;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

/*@media screen and (max-width: 768px) {*/
/*  .villas-spa__section {*/
/*    width: calc(100% - 2 * 40px);*/
/*  }*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*  .villas-spa__section {*/
/*    width: calc(100% - 2 * 20px);*/
/*  }*/
/*}*/

@media screen and (max-width: 770px) {
  .slider-spa__img {
    height: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .slider-spa__img {
    height: 30vh;
  }
}
