.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Адаптируйте под ваш макет */
  margin: 50px auto; /* Центрирование контейнера */
  gap: 20px; /* Отступы между элементами */
  border-bottom: var(--orange-color) 1px solid;
}

.villa-info {
  flex: 3; /* Занимает 3 части из 5 */
  padding: 20px;
}

.villa-title {
  font-size: var(--font-size-h2);
  margin: 0;
  padding: 0;
}

.villa-specs {
  display: flex;
  gap: 15px;
  font-size: 1.2em;
}

.villa-description {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.villa-tags span {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
}

.villa-text {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: var(--font-size-p);
  line-height: 24px;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  text-justify: inter-word;
}

/*.villa-text:last-child {*/
/*  padding-bottom: 0;*/
/*}*/

.button-book,
.button-tour {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: var(--orange-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: var(--orange-color) solid 2px;
  transition: transform 0.3s ease-in-out;
}

.button-book:hover,
.button-tour:hover {
  transform: scale(1.03);
}

.villa-tags-items {
  height: 38px;
}

.villa-tags-items:hover {
  transform: scale(1.01);
}

.button-tour {
  background-color: #fff;
  color: var(--orange-color);
}

.villa-image {
  position: relative;
  width: 45%;
}

.villa-image img {
  border-radius: 10px;
}

.villa-info-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
}

.villa-description-container {
  display: flex;
  justify-content: space-between;
}

.villa-tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.villa-tags span {
  color: var(--orange-color);
  background-color: #fff;
  border-radius: 10px;
  border: var(--orange-color) 1px solid;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.villa-info-size {
  width: 60%;
  margin-bottom: 50px;
}

.villa-description-about {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .villa-info-size {
    width: 80%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    display: block;
    /*flex-wrap: wrap;*/
    max-width: 800px; /* Адаптируйте под ваш макет */
    margin: 50px auto; /* Центрирование контейнера */
    gap: 20px; /* Отступы между элементами */
    border-bottom: var(--orange-color) 1px solid;
  }

  .villa-description-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .villa-description-about {
    width: 80%;
  }

  .villa-tags {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 80%;
  }

  .villa-info {
    flex: none; /* Занимает 3 части из 5 */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .villa-info-size {
    width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }

  .villa-image {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
  }

  .villa-image img {
    /*display: flex;*/
    /*margin: 0 auto;*/
    /*height: 60vh;*/
    width: 100%;
    object-fit: cover;
  }

  .villa-tags span {
    padding: 3px;
    width: 45%;
  }
}

@media screen and (max-width: 770px) {
  .villa-info-size {
    /*width: 80%;*/
    margin-bottom: 20px;
  }

  .villa-info-container {
    display: block;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
  }

  .villa-title {
    font-size: var(--fz-h2-768);
  }

  .villa-text {
    font-size: var(--fz-p-768);
  }

  .villa-specs {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 20px;
  }

  .villa-title {
    font-size: var(--fz-h2-480);
  }

  .villa-description {
    font-size: 12px;
    line-height: normal;
  }

  .villa-tags-items {
    height: 24px;
    font-size: 12px;
  }

  .villa-text {
    font-size: var(--fz-p-768);
    line-height: 18px;
  }

  .villa-tags {
    margin-bottom: 20px;
  }

  .villa-tags span {
    padding: 3px;
    /*width: 120px;*/
  }
}

@media screen and (max-width: 465px) {
  .villa-tags-items {
    height: 24px;
    font-size: 12px;
  }

  .villa-tags span {
    padding: 3px;
    width: 40%;
  }

  /*.button-book,*/
  /*.button-tour {*/
  /*  padding: 7px 14px;*/
  /*  margin: 10px 5px;*/
  /*  font-size: 12px;*/
  /*}*/

  .buttons-container {
    flex-direction: column;
  }
}
