.leisureBlock {
  width: calc(100% - 2 * 70px);
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 50px;
}

.leisureBlock h2 {
  font-size: var(--font-size-h2);
}

.subtitle {
  margin-bottom: 20px;
  font-size: var(--font-size-p);
  color: #000000;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  row-gap: 15px;
}

.feature {
  /* flex: 0 1 calc(33.333% - 20px); Для двух карточек в ряд на широких экранах */
  margin: 5px; /* Добавьте небольшой отступ */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Опционально, для тени вокруг карточек */
  border-radius: 4px; /* Опционально, для скругленных углов */
  overflow: hidden; /* Для поддержания скругленных углов изображения */
  width: 90%;
  height: auto;
}

.feature h3 {
  margin: 10px 0;
  color: #000;
  font-size: 1.2em;
}

.feature p {
  margin: 5px 3px;
  color: #000000;
  font-size: 1em;
}

.feature p:nth-of-type(2) {
  margin-bottom: 20px; 
}

/* @media (max-width: 800px) {
  .feature {
    flex: 0 1 calc(50% - 10px); Для одной карточки в ряд на узких экранах
  }
} */

/* @media (max-width: 600px) {
  .feature {
    flex: 0 1 calc(100% - 10px); Для одной карточки в ряд на узких экранах
  }
} */

@media screen and (max-width: 768px) {
  .leisureBlock {
    width: calc(100% - 2 * 40px);
  }

  .leisureBlock h2 {
    font-size: var(--fz-h2-768);
  }
  
  .subtitle {
    margin-bottom: 20px;
    font-size: var(--fz-p-768);
    color: #000000;
  }
  
}

@media screen and (max-width: 480px) {
  .leisureBlock {
    width: calc(100% - 2 * 20px);
  }

  .leisureBlock h2 {
    font-size: var(--fz-h2-480);
  }

  .subtitle {
    font-size: var(--fz-p-480);
  }
}