@import url(vendor/normalize.css);
@import url(vendor/fonts/fonts.css);

html {
  scroll-behavior: smooth;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-family: "Roboto Regular", Arial, sans-serif;
}

.main {
  max-width: 3000px;
  width: 100%;
}
