@import url(vendor/normalize.css);
@import url(vendor/fonts/fonts.css);

html {
  scroll-behavior: smooth;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-family: "Roboto Regular", Arial, sans-serif;
}

.main {
  max-width: 3000px;
  width: 100%;
}

/* :root {
  --blue-color: #1b0c42;
  --orange-color: #d38c20;
  --light-orange-color: #ffa500;
  --font-size-h1: 70px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-h4: 14px;
  --font-size-p: 14px;
} */